# Versiones de imágenes
KAFKA_VERSION=7.9.0
KAFKA_UI_VERSION=v0.7.2
LOCALSTACK_VERSION=4.3

# Kafka
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_EXTERNAL_PORT=29092
KAFKA_LOG_RETENTION_HOURS=168

# Kafka UI
KAFKA_UI_PORT=9091

# LocalStack
LOCALSTACK_PORT=4566
LOCALSTACK_DEBUG=1
LOCALSTACK_VOLUME_DIR=./.docker/.volumes/aws
